
[build]
  base = "bemy-web-app/bemy-web-app"
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[dev]
  command = "npm run dev"
  targetPort = 3000
  framework = "next"

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200
